<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"/>
  <title>{{ plant_name }} Plot</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

  <h2>Power Plot</h2>

  <a href="https://www.nukepowers.com/">
    <button>Main Page</button>
  </a>

  <div style="float:none; height:20px;"></div>

  <p>Requested Plot Details</p>
  <p>Plant: <strong>{{ plant_name }}</strong></p>
  <p>Start Date: <strong>{{ start_date }}</strong></p>
  <p>End Date: <strong>{{ end_date }}</strong></p>


  {% if plot_url %}
    <img src={{ plot_url }} alt="Something went wrong, chart cannot be displayed">
  {% endif %}

  <div style="float:none; height:30px;"></div>


</body>
</html>

