<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"/>
  <title>{{ plant_name }} Plot</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

  <h2>Power Plot</h2>

  <a href="https://www.nukepowers.com/">
    <button>Main Page</button>
  </a>

  <div style="float:none; height:20px;"></div>

  <p>Requested Plot Details:</p>
  <p>Plant: <strong>{{ plant_name }}</strong></p>
  <p>Start Date: <strong>{{ start_date }}</strong></p>
  <p>End Date: <strong>{{ end_date }}</strong></p>


  {% if plot_png %}
    <img src="data:image/png;base64,{{ plot_png }}" alt="Something went wrong, chart cannot be displayed">
  {% endif %}

  <div style="float:none; height:5px;"></div>

  {% if scram_plot_png %}
    <img src="data:image/png;base64,{{ scram_plot_png }}" alt="Something went wrong, chart cannot be displayed">
  {% endif %}
  <p>Second Plot Notes:</p>
  <p>1. Red dashed lines indicate scrams</p>
  <p>2. Black dashed line indicates that scram data and additional info are not available from NRC after that date yet</p>

  <div style="float:none; height:10px;"></div>

  <h3>Raw Data</h3>
  <p>You can click the button below to copy the values. These values can then be pasted into a spreadsheet for personal use.</p>
  <input type="button" value="Copy Data" onClick="copytable('data_table')">


  <p>Search the table for any field here:
        <input id="gfg" type="text" placeholder="Search here">
  </p>

  <table id="data_table">
    <tr>
      <th>Date</th>
      <th>Power</th>
      <th>Reason or Comment</th>
      <th>Down Date</th>
      <th>Scrams</th>
    </tr>
    <tbody id="data">
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>

      <td>{{ row[1] }}</td>

      {% if row[5] == 1 %}
      <td bgcolor="#D3D3D3">{{ row[2] }}</td>
      {% else %}
      <td>{{ row[2] }}</td>
      {% endif %}

      <td>{{ row[3] }}</td>

      {% if row[6] == 1 %}
      <td bgcolor="#FFCCCB">{{ row[4] }}</td>
      {% else %}
      <td>{{ row[4] }}</td>
      {% endif %}

    </tr>
    {% endfor %}
    </tbody>
  </table>

  <div style="float:none; height:30px;"></div>


  <script>
      function copytable(el) {
        var urlField = document.getElementById(el)
        var range = document.createRange()
        range.selectNode(urlField)
        window.getSelection().addRange(range)
        document.execCommand('copy')
      }
  </script>

  <script>
        $(document).ready(function () {
            $("#gfg").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#data tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
  </script>

</body>
</html>

