<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"/>
  <title>{{ plant_name }} Plot</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

  <h2>Power Plot</h2>

  <a href="https://www.nukepowers.com/">
    <button>Main Page</button>
  </a>

  <div style="float:none; height:20px;"></div>

  <p>Requested Plot Details</p>
  <p>Plant: <strong>{{ plant_name }}</strong></p>
  <p>Start Date: <strong>{{ start_date }}</strong></p>
  <p>End Date: <strong>{{ end_date }}</strong></p>


  {% if plot_png %}
    <img src="data:image/png;base64,{{ plot_png }}" alt="Something went wrong, chart cannot be displayed">
  {% endif %}

  <div style="float:none; height:10px;"></div>

  <h3>Raw Data</h3>
  <p>You can click the button below to copy the values. These values can then be pasted into a spreadsheet for personal use.</p>
  <input type="button" value="Copy Data" onClick="copytable('data')">


  <table id="data">
    <tr>
      <th>Date</th>
      <th>Power</th>
    </tr>
    <tbody id="data">
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <div style="float:none; height:30px;"></div>


  <script>
      function copytable(el) {
        var urlField = document.getElementById(el)
        var range = document.createRange()
        range.selectNode(urlField)
        window.getSelection().addRange(range)
        document.execCommand('copy')
      }
  </script>


</body>
</html>

