<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"/>
  <title>Information Page</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

  <h1>Information Page</h1>

  <a href="https://www.nukepowers.com/">
    <button>Main Page</button>
  </a>

  <p>This website was created to make it easy to access power data and information for all US nuclear power plants. Whether you're a nuclear professional or just interested in the US operating fleet, I hope you find this website useful!</p>
  <p>All power data is pulled from the NRC power reactor status webpage: <a href="https://www.nrc.gov/reading-rm/doc-collections/event-status/reactor-status/index.html">NRC Power Reactor Status Webpage</a></p>
  <div style="float:none; height:10px;"></div>
  <p>All other information is calculated from the data or was publicly available. Feel free to cite this tool if you use it for research; however, no information found here is proprietary.</p>
  <div style="float:none; height:10px;"></div>

  <h3>About Me</h3>
  <p>Website created by Levi Cerra</p>
  <p>I am an engineer in the nuclear industry with a passion for creating tools that can streamline tedious or repetitive tasks. I want publicly available information on nuclear power to be easy to find and use for professionals as well as the general public.</p>
  <p>Please let me know if you run into any problems with the website by creating a new issue on this github repository: <a href="https://github.com/levi-cerra/nuke_powers_webapp">Github Link</a></p>

  <div style="float:none; height:10px;"></div>

  <h3>Related Links</h3>
  <p>Below are links to other websites that can be useful in learning more about nuclear power:</p>
  <div style="float:none; height:10px;"></div>
  <a href="https://www.nuclear-power.com/">Nuclear Power for Everybody</a>
  <div style="float:none; height:10px;"></div>
  <a href="https://whatisnuclear.com/">What is Nuclear?</a>
  <div style="float:none; height:10px;"></div>
  <a href="https://www.nrc.gov/reactors/operating/licensing/techspecs/current-approved-sts.html">Standard Technical Specifications</a>

  <div style="float:none; height:50px;"></div>




  <hr>
  <div style="float:none; height:30px;"></div>
  <h2>Main Page</h2>
  <p>Landing page for the website.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Power Plot Tool</h3>
  <p>Used to create custom plots of power for any currently operating US plant.</p>
  <p>Will route you to a new webpage to see the requested plot, plot with vertical lines marking scrams, and a table of the requested data. The printed data also includes the reason the plant may not be at 100% power as well as other information from the NRC.</p>
  <div style="float:none; height:10px;"></div>

  <h3>US Plant Table</h3>
  <p>Contains all currently operating US plants with several pieces of info:</p>
  <div>
    <ul>
      <li>Plant Name  (Doubles as link to specific plant info page)</li>
      <li>Power  (Today's power from NRC)</li>
      <li>Stability  (Tells you how today's power compares to the last five days averaged)</li>
      <li>Design  (PWR, BWR, etc.)</li>
      <li>Design Company  (Westinghouse, General Electric, Combustion Engineering, B&W)</li>
      <li>NRC Region  (<a href="https://www.nrc.gov/info-finder/region-state/index.html">NRC Regions</a>)</li>
    </ul>
  </div>
  <p>Table can be filtered down using the proided field. This will return all rows that contain your input substring.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Map of US Plants</h3>
  <p>Map with dots showing the locations of all currently operating nuclear power plants in the US.</p>
  <div style="float:none; height:30px;"></div>




  <hr>
  <div style="float:none; height:30px;"></div>
  <h2>Full Database Page</h2>
  <p>Contains information on all currently operating US plants as well as those that have been decommissioned.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Extended US Plant Table</h3>
  <p>Contains more inforamtion for each plant than the table on the main page. All info in table is publicly available and can be filtered down using the provided field.</p>
  <div style="float:none; height:30px;"></div>




  <hr>
  <div style="float:none; height:30px;"></div>
  <h2>Specific Plant Link Pages</h2>
  <p>Page for specific information on this plant.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Today's power info</h3>
  <p>Power info that was available on the main page.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Capacity factor over the last three years</h3>
  <p>The power data over the last three years averaged.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Outage Estimates</h3>
  <p>Finds the last 10 consecutive days that the plant was at 0% power. Eighteen or twenty four months (depending on the plant, may not be entirely accurate) are added to this date to estimate the next outage.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Full Database Entry</h3>
  <p>The row from the full database page.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Map Indicating Plant's Location</h3>
  <p>Map of US with a mark showing where the plant is located.</p>
  <div style="float:none; height:10px;"></div>

  <h3>Quick Glance Power Plots</h3>
  <p>Three plots that show the last two months, one year, and two years of power data for the chosen plant.</p>
  <div style="float:none; height:10px;"></div>



</body>
</html>

