<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"/>
  <title>{{ plant_name }} Info</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

  <h1>Information Page for {{ plant_name }}</h1>

  <a href="https://www.nukepowers.com/">
    <button>Main Page</button>
  </a>

  <div style="float:none; height:20px;"></div>

  <p>Plant: <strong>{{ plant_name }}</strong></p>
  <p>Power: <strong>{{ power }} %</strong></p>
  <p>Five Day Stability: <strong>{{ stability }}</strong></p>

  <div style="float:none; height:30px;"></div>


    <h2>Percent Capacity</h2>
    <p>Over last three years</p>
    <p>Percent Capacity: <strong>{{ perc_capacity }} %</strong></p>



    <div style="float:none; height:30px;"></div>

    <h2>Outage Estimates</h2>

    <p>End of last outage: <strong>{{ outage_date }}</strong></p>
    <p>Guess of future outage: <strong>{{ next_outage_date }}</strong></p>
    <div style="float:none; height:5px;"></div>
    <p>Note: Outage is determined by 10 or more consecutive days at 0% power. This could lead to the program picking up on non-refueling outages.</p>


  <div style="float:none; height:30px;"></div>


  <h2>Database Info</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Plant Name</th>
      <th>Design</th>
      <th>Containment</th>
      <th>Design Company</th>
      <th>NRC Region</th>
      <th>Utility</th>
      <th>Refuel Cycle (Months)</th>
      <th>State</th>
      <th>Cooling Source</th>
      <th>Commission Year</th>
      <th>Commission Decade</th>
      <th>Decommission Year</th>
      <th>GEN</th>
      <th>Capacity (MWe)</th>
    </tr>
    <tbody id="plants">
  {% for row in table_results %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
      <td>{{ row[6] }}</td>
      <td>{{ row[7] }}</td>
      <td>{{ row[8] }}</td>
      <td>{{ row[9] }}</td>
      <td>{{ row[10] }}</td>
      <td>{{ row[11] }}</td>
      <td>{{ row[12] }}</td>
      <td>{{ row[13] }}</td>
      <td>{{ row[14] }}</td>
    </tr>
    {% endfor %}
    </table>

    {% if map_url %}
        <img src={{ map_url }} alt="Something went wrong, chart cannot be displayed">
    {% endif %}

    <div style="float:none; height:10px;"></div>

    <h2>Plots</h2>
    <p>If custom plots are desired, those can be created on the main page. Click button below to get plot of last two years with raw data and more info.</p>
    <form id="myForm" action="/get_plot" method='POST'>
    <input type="hidden" id="plant_name_plot" name="plant_name_plot" value="{{ plant_name }}"/>
    <input type="hidden" id="start_date_plot" name="start_date_plot" value="{{ beginning_date }}"/>
    <input type="hidden" id="end_date_plot" name="end_date_plot" value="{{ last_date }}"/>
    <input type="submit" value="Two Year Plot + Data"/>
    </form>

    {% if plot_1 %}
        <img src="data:image/png;base64,{{ plot_1 }}" alt="Something went wrong, chart cannot be displayed">
    {% endif %}

    {% if plot_2 %}
        <img src="data:image/png;base64,{{ plot_2 }}" alt="Something went wrong, chart cannot be displayed">
    {% endif %}

    {% if plot_3 %}
        <img src="data:image/png;base64,{{ plot_3 }}" alt="Something went wrong, chart cannot be displayed">
    {% endif %}

    <div style="float:none; height:30px;"></div>



</body>
</html>